body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
    background-color: rgb(16, 16, 87);

}

header,
main,
footer {
    background-color:  rgb(16, 16, 87);
    
}

header {
	padding: 1.875em 0;
}

h1 {
    text-align: center;
    color:rgb(243, 102, 102);
}
h2 {
    color: rgb(243, 102, 102);
}
p,
figcaption {
    color: white;
    font-size: large;
}
#intro {
    text-align: center;
    font-size: large;


footer {
    text-align: center;
